%p#notice= notice

= image_tag avatar_url(@user, 200)

%ul.unstyled.song-details
  %li
    %strong Email
    = @user.email
  %li
    %strong Name
    = @user.name

%h2 Friends
%ul
  - @friendships.each do |friendship|
    %li
      =h friendship.friend.email
      = link_to "remove", friendship, method: :delete if @user == current_user

= link_to "Find Friends", users_path

%h2 Friended by:
%ul
  - @user.inverse_friends.each do |user|
    %li= user.display_name

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
