%tr
  %td= show_ownership song
  %td= song.name
  %td= song.artist
  %td= song.genre
  %td= song.song_difficulty
  %td= song.guitar_difficulty
  %td= song.bass_difficulty
  %td= song.drums_difficulty
  %td= song.vocals_difficulty
  %td= song.keyboard_difficulty
  %td
    %a.add-ratings{"href" => get_ratings_url(song, @rated_songs.find {|rated| rated.song == song}),
      "data-http-method" => get_ratings_method(@rated_songs.find {|rated| rated.song == song})}
      Rate
  %td= link_to 'Details', song
  %td
    - if is_user_admin?
      =link_to 'Edit', edit_song_path(song)
  %td
    - if is_user_admin?
      =link_to 'Remove', song, method: :delete, data: { confirm: 'Are you sure?' }