.span12
  %h3 List of songs
  
  %table.table.table-striped
    %tr
      %th Owned
      %th Name
      %th Artist
      %th Genre
      %th Song
      %th Guitar
      %th Bass      
      %th Drums
      %th Vocals
      %th Keyboard
      %th
      %th
      %th
      %th
  
    - @songs.each do |song|
      %tr
        %td= @owned_songs.any? {|owned| owned == song}
        %td= song.name
        %td= song.artist
        %td= song.genre
        %td= song.song_difficulty
        %td= song.guitar_difficulty
        %td= song.bass_difficulty        
        %td= song.drums_difficulty
        %td= song.vocals_difficulty
        %td= song.keyboard_difficulty
        %td
          %a.add-ratings{"href" => get_ratings_url(song, @rated_songs.find {|rated| rated.song == song}), "data-http-method" => get_ratings_method(song.ratings[0])} 
            Add Ratings
        %td= link_to 'Details', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Remove', song, method: :delete, data: { confirm: 'Are you sure?' }
  
  %br
  
  = link_to 'New Song', new_song_path
  |
  = link_to 'My Songs', mine_songs_path
    
  #ratings-modal.modal.hide.fade{:role => "dialog"}
    .modal-header
      %button.close{:type => "button", "data-dismiss" => "modal"}
        ×
      %h3
        Your Ratings
    .modal-body
      = render :partial => "/ratings/form", :locals => {:song => @song, :rating => @rating}  
    .modal-footer
      %button.btn{"data-dismiss" => "modal"}
        Close
      %button#save-ratings.btn.btn-primary
        Save changes
        