.span12
  %h3 List of songs
  
  %table.table.table-striped
    %tr
      %th Name
      %th Artist
      %th Genre
      %th Song
      %th Guitar
      %th Bass      
      %th Drums
      %th Vocals
      %th Keyboard
      %th
      %th
      %th
      %th
  
    - @songs.each do |song|
      %tr
        %td= song.name
        %td= song.artist
        %td= song.genre
        %td= song.song_difficulty
        %td= song.guitar_difficulty
        %td= song.bass_difficulty        
        %td= song.drums_difficulty
        %td= song.vocals_difficulty
        %td= song.keyboard_difficulty
        %td
          %a.add-ratings Add Ratings
          - if not song.ratings[0].nil?
            %input.rating-id{:type => "hidden", :value => song.ratings[0].id}
        %td= link_to 'Details', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Remove', song, method: :delete, data: { confirm: 'Are you sure?' }
  
  %br
  
  = link_to 'New Song', new_song_path
    
  #ratings-modal.modal.hide.fade{:role => "dialog"}
    .modal-header
      %button.close{:type => "button", "data-dismiss" => "modal"}
        ×
      %h3
        Your Ratings
    .modal-body
      %form.form-horizontal
        .control-group
          %label.control-label Guitar
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: guitar"}
        .control-group
          %label.control-label Bass
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: bass"}
        .control-group
          %label.control-label Drums
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: drums"}
        .control-group
          %label.control-label Vocals
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: vocals"}
        .control-group
          %label.control-label Keyboard
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: keyboard"}
        .control-group
          %label.control-label Pro Guitar
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: pro_guitar"}
        .control-group
          %label.control-label Pro Bass
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: pro_bass"}
        .control-group
          %label.control-label Pro Drums
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: pro_drums"}
        .control-group
          %label.control-label Pro Vocals
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: pro_vocals"}
        .control-group
          %label.control-label Pro Keyboard
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: pro_keyboard"}  
        .control-group
          %label.control-label Overall
          .controls
            %input.drums-rating{:type => "number", "data-bind" => "value: overall"}   
    .modal-footer
      %button.btn{"data-dismiss" => "modal"}
        Close
      %button.btn.btn-primary
        Save changes
        