%p#notice= notice

%p
  %b Name:
  = @song.name
%p
  %b Genre:
  = @song.genre
%p
  %b Guitar difficulty:
  = @song.guitar_difficulty
%p
  %b Bass difficulty:
  = @song.bass_difficulty
%p
  %b Song difficulty:
  = @song.song_difficulty
%p
  %b Drums difficulty:
  = @song.drums_difficulty
%p
  %b Vocals difficulty:
  = @song.vocals_difficulty
%p
  %b Keyboard difficulty:
  = @song.keyboard_difficulty
%p
  %b Pro Guitar difficulty:
  = @song.pro_guitar_difficulty
%p
  %b Pro Bass difficulty:
  = @song.pro_bass_difficulty
%p
  %b Pro Drums difficulty:
  = @song.pro_drums_difficulty
%p
  %b Pro Vocals difficulty:
  = @song.pro_vocals_difficulty
%p
  %b Pro Keyboard difficulty:
  = @song.pro_keyboard_difficulty

%fieldset
  %legend Your ratings
  %p
    %b Guitar
    = @rating.guitar if @rating

= link_to 'Edit', edit_song_path(@song)
\|
= link_to 'Back', songs_path
