= form_for [@song, @rating], :html => {:class => "form-horizontal"} do |f|
  - if @rating.errors.any?
    #error_explanation
      %h5= "#{pluralize(@rating.errors.count, "error")} prohibited these ratings from being saved:"
      %ul
        - @rating.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    .controls
      .rating
        Amateur
      .rating
        Pro
  - ApplicationController::INSTRUMENTS.each do |instrument|
    .control-group
      = f.label instrument, :class => "control-label"
      .controls
        %ul.star-rating.rating{"data-hidden-field" => instrument}
          - (1..5).each do |i|
            %li
              %a{"class" => "star#{i}", "data-bind" => "checkStarRating: #{instrument}, ratingIndex: #{i}"}= i
        = f.hidden_field instrument, "data-bind" => "value: #{instrument}"
        %ul.star-rating.rating{"data-hidden-field" => "pro_#{instrument}"}
          - (1..5).each do |i|
            %li
              %a{"class" => "star#{i}", "data-bind" => "checkStarRating: pro_#{instrument}, ratingIndex: #{i}"}= i
        = f.hidden_field "pro_#{instrument}", "data-bind" => "value: pro_#{instrument}"

  .form-actions    
    = f.submit 'Save', :class => "btn"