= form_for @playlist, :html => {:class => "form-horizontal", "data-playlistid" => @playlist.id} do |f|
  - if @playlist.errors.any?
    #error_explanation
      %h2= "#{pluralize(@playlist.errors.count, "error")} prohibited this playlist from being saved:"
      %ul
        - @playlist.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label :amount_of_songs, :class => "control-label"
    .controls
      = f.number_field :amount_of_songs, :min => 0
  .control-group
    = f.label :include_unrated_songs, :class => "control-label"
    .controls
      = f.check_box :include_unrated_songs
  .control-group
    = f.label :unrated_songs_rating, :class => "control-label"
    .controls
      = f.number_field :unrated_songs_rating, :min => 0
  .control-group
    %label.control-label Users
    .controls
      %select#players{:name => "players[]", :multiple => "multiple", "data-placeholder" => "Select players.."}
        - @users.each do |user|
          = player_option(user)
  .control-group
    %label.control-label Songs
    .controls
      %input#add-song-text{:type => "text", :name => "add-song"}
      %ul#songs
        - @playlist.playlist_songs.each do |playlist_song|
          %li
            = playlist_song.song.name
            %input{:type => "hidden", :name => "songs[]", :value => playlist_song.song.id}

  .form-actions
    = f.submit 'Save', :class => "btn"
