%p#notice= notice

.span8.offset2
  .box-layout
    .row-fluid
      .span12
        %h3
          = @playlist.name
          = link_to "Play", play_playlist_path(@playlist)

    .row-fluid
      .span4
        %fieldset
          %legend Details
          %p
            %b User:
            = @playlist.user.email unless @playlist.user.nil?
          %p
            %b Amount of songs:
            = @playlist.amount_of_songs
          %p
            %b Include unrated songs:
            = @playlist.include_unrated_songs
          %p
            %b Unrated songs rating:
            = @playlist.unrated_songs_rating
      .span4
        %fieldset
          %legend Players
          %ul
            - @playlist.users.each do |user|
              %li= user.email
      .span4
        %fieldset
          %legend Stats
    .row-fluid
      .span12
        %fieldset
          %legend Songs
          = link_to 'Auto-add songs', auto_playlist_path(@playlist), :id => "auto-add-songs", :class => "btn pull-right"
          %table.table.table-striped.collapse-on-tablet
            %thead
              %tr
                %th Name
                - @playlist.players.each do |player|
                  %th= player.email
                %th
            %tbody
              - @playlist.songs.each do |playlist_song|
                %tr
                  %td= playlist_song.song.name
                  - @playlist.players.each do |player|
                    %td
                      %span.show-on-tablet= player.email
                      %span.clearfix= instrument_select_list(playlist_song, player)
                  %td= link_to "Remove", playlist_song, method: :delete, data: { confirm: 'Are you sure?' }
    .row-fluid
      .span12
        = link_to 'Edit', edit_playlist_path(@playlist)
        \|
        = link_to 'Delete', @playlist, method: :delete, data: { confirm: 'Are you sure?' }
        \|
        = link_to 'Back', playlists_path
