%p#notice= notice

.span8.offset2
  .box-layout
    .row-fluid
      .span12
        %h3
          = @playlist.name
          = link_to "Play", play_playlist_path(@playlist)

    .row-fluid
      .span4
        %fieldset
          %legend Details
          %p
            %b User:
            = @playlist.user.display_name unless @playlist.user.nil?
      .span4
        %fieldset
          %legend Players
          %ul
            - @playlist.users.each do |user|
              %li= user.display_name
      .span4
        %fieldset
          %legend Stats
    .row-fluid
      .span12
        %fieldset
          %legend Songs
          = link_to 'Auto-add songs', auto_playlist_path(@playlist), :id => "auto-add-songs", :class => "btn pull-right"
          %table#songs.table.table-striped.collapse-on-tablet
            %thead
              %tr
                %th.hidden-tablet
                %th Name
                - @playlist.players.each do |player|
                  %th= player.email
                %th
            %tbody
              - @playlist.songs.sort_by{|e| e[:position] || 0}.each do |playlist_song|
                %tr{"data-id" => playlist_song.song.id}
                  %td.hidden-tablet
                    %span.ui-icon.ui-icon-arrowthick-2-n-s
                  %td
                    =link_to playlist_song.song.name, song_path(playlist_song)
                  - @playlist.players.each do |player|
                    %td
                      %span.visible-tablet= player.email
                      %span.clearfix= instrument_select_list(playlist_song, player)
                  %td= link_to "Remove", playlist_song, method: :delete, data: { confirm: 'Are you sure?' }
    .row-fluid
      .span12
        = link_to 'Edit', edit_playlist_path(@playlist)
        \|
        = link_to 'Delete', @playlist, method: :delete, data: { confirm: 'Are you sure?' }
        \|
        = link_to 'Back', playlists_path
