%p#notice= notice

.span8.offset2
  .box-layout
    .row-fluid
      .span12
        %h3
          = @playlist.name

    .row-fluid
      .span4
        %fieldset
          %legend Details
          %p
            %b User:
            = @playlist.user.email unless @playlist.user.nil?
          %p
            %b Amount of songs:
            = @playlist.amount_of_songs
          %p
            %b Include unrated songs:
            = @playlist.include_unrated_songs
          %p
            %b Unrated songs rating:
            = @playlist.unrated_songs_rating
      .span4
        %fieldset
          %legend Songs
          = link_to 'Auto-add songs', auto_playlist_path(@playlist)
          %ol
            - @playlist.playlist_songs.each do |playlist_song|
              %li= playlist_song.song.name
    .row-fluid
      .span12
        = link_to 'Edit', edit_playlist_path(@playlist)
        \|
        = link_to 'Back', playlists_path
