!!! 5
%html
  %head
    %title The Bearded Nemesis
    %link{:rel => "stylesheet", :type => "text/css", :href => "//fonts.googleapis.com/css?family=Permanent+Marker"}
    = stylesheet_link_tag "application", controller.controller_name
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => "/"}
            The Bearded Nemesis
          .nav-collapse
            - if user_signed_in?
              %ul.nav
                %li= link_to "Songs", songs_url
                %li= link_to "Genres", genres_url
                %li= link_to "Artists", artists_url
                %li= link_to "Rock Parties", rock_parties_url
                %li= link_to "Users", users_url
                - if is_user_admin?
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", id: "admin-dropdown"}
                      Admin
                      %b.caret
                    %ul.dropdown-menu{role: "menu", "aria-labelledby" => "admin-dropdown"}
                      %li= link_to "Users", admin_users_path
                      %li= link_to "Whitelists", admin_whitelists_path
            %ul.nav.pull-right
              - if user_signed_in?
                %li
                  %form.navbar-search#song-search
                    %input.search-query{type: "text", placeholder: "Search for songs.."}
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", id: "dLabel", role: "button"}
                    = image_tag avatar_url(current_user, 20), :alt => "Gravitar"
                    %b.caret
                  %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dLabel"}
                    %li= link_to "Details", user_path(current_user)
                    %li= link_to "My Songs", mine_songs_path
                    %li= link_to "Import Songs", import_user_path(current_user)
                %li= link_to "Logout", destroy_user_session_url, :method => :delete
              - else
                %li= link_to "Log in", new_user_session_url
              
    %section#main
      .container-fluid
        .row-fluid
          = yield
          
    %footer
      .container-fluid
        .row-fluid
          .span12
            &copy; 2012 The Bearded Nemesis, Inc. LLC.
      
    = javascript_include_tag "application", controller.controller_name