!!! 5
%html
  %head
    %title The Bearded Nemesis
    %link{:rel => "stylesheet", :type => "text/css", :href => "//fonts.googleapis.com/css?family=Permanent+Marker"}
    = stylesheet_link_tag "application", :media => "all"    
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => "/"}
            The Bearded Nemesis
          .nav-collapse.collapse
            - if user_signed_in?
              %ul.nav
                %li= link_to "Songs", songs_url
                %li= link_to "Genres", genres_url
                %li= link_to "Artists", artists_url
                %li= link_to "Users", admin_users_path if is_user_admin?
            %ul.nav.pull-right
              %li
                - if user_signed_in?
                  = link_to "Logout", destroy_user_session_url, :method => :delete
                - else
                  = link_to "Log in", new_user_session_url
              
    %section#main
      .container-fluid
        .row-fluid        
          = yield
          
    %footer
      .container-fluid
        .row-fluid
          .span12
            &copy; 2012 The Bearded Nemesis, Inc. LLC.
      
    = javascript_include_tag "application"