!!! 5
%html
  %head
    %title The Bearded Nemesis
    %link{:rel => "stylesheet", :type => "text/css", :href => "//fonts.googleapis.com/css?family=Permanent+Marker"}
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-toggle"=>"collapse","data-target"=>".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"}
            The Bearded Nemesis
          .nav-collapse.collapse
            - if user_signed_in?
              %ul.nav
                = get_menu_link "Songs", songs_url, "songs"
                = get_menu_link "Genres", genres_url, "genres"
                = get_menu_link "Artists", artists_url, "artists"
                = get_menu_link "Playlists", playlists_url, "playlists"
                = get_menu_link "Rock Parties", rock_parties_url, "rock_parties"
                = get_menu_link "Users", users_url, "users"
                - if is_user_admin?
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", id: "admin-dropdown"}
                      Admin
                      %b.caret
                    %ul.dropdown-menu{role: "menu", "aria-labelledby" => "admin-dropdown"}
                      %li= link_to "Users", admin_users_path
                      %li= link_to "Whitelists", admin_whitelists_path
            %ul.nav.pull-right
              - if user_signed_in?
                %li
                  %form.navbar-search#song-search{action: search_songs_path}
                    %input.search-query{type: "text", name: "term", placeholder: "Search for songs.."}
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", id: "dLabel", role: "button"}
                    = image_tag avatar_url(current_user, 20), :alt => "Gravitar"
                    %b.caret
                  %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dLabel"}
                    %li= link_to "Details", user_path(current_user)
                    %li= link_to "My Songs", mine_songs_path
                    %li= link_to "Import Songs", import_user_path(current_user)
                %li= link_to "Logout", destroy_user_session_url, :method => :delete
              - else
                %li= link_to "Log in", new_user_session_url
              
    %section#main
      .container-fluid
        .row-fluid
          = yield
          
    %footer
      .container-fluid
        .row-fluid
          .span12
            &copy; 2012 The Bearded Nemesis, Inc. LLC.
      
    = javascript_include_tag "application"