!!! 5
%html
  %head
    %title The Bearded Nemesis
    %link{:rel => "stylesheet", :type => "text/css", :href => "/bootstrap/css/bootstrap.min.css"}
    = stylesheet_link_tag "application", :media => "all"    
    = csrf_meta_tags
  %body
    %header
      %h1 The Bearded Nemesis
      %div
        - if user_signed_in?
          = link_to "Logout", destroy_user_session_url, :method => :delete
        - else
          = link_to "Log in", new_user_session_url
    #content
      = yield
    %footer
      This is a footer.
      Copyright &copy; 2012 The Bearded Nemesis, Inc. LLC.
      
    %script{:src => "/bootstrap/js/bootstrap.min.js"}
    = javascript_include_tag "application"